In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm, chi2_contingency
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Таблица_2021-10-26_10-21.csv')

# 1. Санкт-Петербург и Москва:

In [ ]:
Mos = df.loc[np.logical_and(df['Регион'] == 'Москва', df['Дата'] == '25.10.2021')]
Mos.head()

            Дата  Регион  ...  Заражений за день  Выздоровлений за день
2859  25.10.2021  Москва  ...               7778                   3892

[1 rows x 8 columns]

In [ ]:
Spb = df.loc[np.logical_and(df['Регион'] == 'Санкт-Петербург', df['Дата'] == '25.10.2021')]
Spb.head()

             Дата           Регион  ...  Заражений за день  Выздоровлений за день
30256  25.10.2021  Санкт-Петербург  ...               2693                   1102

[1 rows x 8 columns]

In [ ]:
z, p_value = sm.stats.proportions_ztest([int(Spb['Смертей за день']), int(Mos['Смертей за день'])], [int(Spb['Заражений за день']), int(Mos['Заражений за день'])])
print(['{:.12f}'.format(b) for b in (z, p_value)])

['5.101944807771', '0.000000336181']

- отличия статистически значимы

# 2. Воронежская и Курская области:

In [ ]:
Vrn = df.loc[np.logical_and(df['Регион'] == 'Воронежская обл.', df['Дата'] == '25.10.2021')]
Vrn.head()

             Дата            Регион  ...  Заражений за день  Выздоровлений за день
16194  25.10.2021  Воронежская обл.  ...                741                    174

[1 rows x 8 columns]

In [ ]:
Kur = df.loc[np.logical_and(df['Регион'] == 'Курская обл.', df['Дата'] == '25.10.2021')]
Kur.head()

             Дата        Регион  ...  Заражений за день  Выздоровлений за день
32458  25.10.2021  Курская обл.  ...                311                    171

[1 rows x 8 columns]

In [ ]:
z, p_value = sm.stats.proportions_ztest([int(Vrn['Смертей за день']), int(Kur['Смертей за день'])], [int(Vrn['Заражений за день']), int(Kur['Заражений за день'])])
print(['{:.12f}'.format(b) for b in (z, p_value)])

['0.820343844679', '0.412020118336']

- отличия статистически не значимы