In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
from math import sqrt

In [ ]:
metrics = pd.DataFrame()
metrics['Коэффициент:'] = ['MAE', 'MSE', 'MPE', 'MAPE', 'AD', 'MAD', 'к. детерминации', 'к. несоответствия Тейла']
def metric(y, f, n, name):
  MAE = np.sum(abs(f - y))/n
  MSE = sqrt(np.sum((f - y) ** 2) /n)
  MPE = np.sum((f - y)/(y*n))*100
  MAPE = (np.sum(abs(f - y)/(y*n)))*100
  AD =np.sum(abs(f - np.mean(y)))
  MAD = np.sum(abs(f - np.mean(y)))/n
  R2= np.sum((f - np.mean(y))**2)/np.sum((y - np.mean(y))**2)
  v= sqrt(np.sum((f - y) ** 2)/(np.sum(y**2)+np.sum(f**2)))
  metrics[name] = [MAE, MSE, MPE, MAPE, AD, MAD, R2, v]
  print("MAE =", MAE)
  print("MSE =",MSE)
  print("MPE =",MPE)
  print("MAPE =",MAPE)
  print("AD =",AD)
  print("MAD =",MAD)
  print("Коэффициент детерминации =",R2)
  print("Коэффициент несоответствия Тейла =",v)
  return;

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/FLATScsv1.csv', sep=';')
del df['Id']
df.head()

   SQUARE_METERS  METRO_DISTANCE    PRICE
0             28             677  7328400
1             54             120  9754600
2             43            1344  6781500
3             33            1003  6784100
4             30             591  7296200

In [ ]:
print ('Rows in the data frame: {0}'.format(len(df)))
print ('Rows without NAN: {0}'.format(len(df.dropna(how='any'))))

Rows in the data frame: 100
Rows without NAN: 100

# 1. Зависимость цены от площади:

In [ ]:
X = df.drop('PRICE', axis=1)
X1 = X.drop('METRO_DISTANCE', axis=1)
y = df['PRICE']

In [ ]:
model = LinearRegression()
model.fit(X1, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
coef = pd.DataFrame(zip(['intercept'] + X1.columns.tolist(), [model.intercept_] + model.coef_.tolist()),
                    columns=['predictor', 'coef'])
print(coef)

       predictor          coef
0      intercept  4.292936e+06
1  SQUARE_METERS  6.214873e+04

In [ ]:
metric(y, model.predict(X1),len(y),'м^2')

MAE = 990261.942495025
MSE = 1141985.1272904899
MPE = 3.301140379120922
MAPE = 15.693792634540443
AD = 91939101.20964502
MAD = 919391.0120964502
Коэффициент детерминации = 0.4522205856496503
Коэффициент несоответствия Тейла = 0.1157446536471301

# 2. Зависимость цены от расстояния до метро:

In [ ]:
X2 = X.drop('SQUARE_METERS', axis=1)
model.fit(X2, y)
coef = pd.DataFrame(zip(['intercept'] + X2.columns.tolist(), [model.intercept_] + model.coef_.tolist()),
                    columns=['predictor', 'coef'])
print(coef)

        predictor          coef
0       intercept  9.003176e+06
1  METRO_DISTANCE -1.679031e+03

In [ ]:
metric(y, model.predict(X2),len(y),'рассстояние до метро')

MAE = 870605.1584099769
MSE = 1002814.0345235703
MPE = 2.569573659947029
MAPE = 13.78038995526844
AD = 101989176.67189087
MAD = 1019891.7667189087
Коэффициент детерминации = 0.5775983380546678
Коэффициент несоответствия Тейла = 0.10148364845817766

# 3. Зависимость цены от площади & расстояния до метро:

In [ ]:
model.fit(X, y)
coef = pd.DataFrame(zip(['intercept'] + X.columns.tolist(), [model.intercept_] + model.coef_.tolist()),
                    columns=['predictor', 'coef'])
print(coef)

        predictor          coef
0       intercept  6.496840e+06
1   SQUARE_METERS  5.852554e+04
2  METRO_DISTANCE -1.603460e+03

In [ ]:
metric(y, model.predict(X),len(y),'м^2 & расстояние до метро')

MAE = 188069.8356556663
MSE = 231660.84415639355
MPE = 0.1306106690593575
MAPE = 2.845915952227682
AD = 121653918.61100902
MAD = 1216539.1861100902
Коэффициент детерминации = 0.9774581227423348
Коэффициент несоответствия Тейла = 0.023330364236321885

In [ ]:
display(metrics)

              Коэффициент:  ...  м^2 & расстояние до метро
0                      MAE  ...               1.880698e+05
1                      MSE  ...               2.316608e+05
2                      MPE  ...               1.306107e-01
3                     MAPE  ...               2.845916e+00
4                       AD  ...               1.216539e+08
5                      MAD  ...               1.216539e+06
6          К. детерминации  ...               9.774581e-01
7  K. несоответствия Тейла  ...               2.333036e-02

[8 rows x 4 columns]